<!DOCTYPE html>
<html>

<head>
    <title>{{title}}-{{html}}</title>
</head>

<body>
    {% if isTrue %}
    adminPage (관리자 권한을 얻은 상태의 페이지) - {{user.name}} 님.<br><br>
    
    {% else %}
    userPage (유저 권한을 얻은 상태의 페이지) - {{user.name}} 님.<br><br>

    {% endif %}
    <form id="form" action="" method="get">
        <button style="width: 200px" type="button"
            onclick="location.href='http://localhost:{{port}}/main'">메인 화면</button>
    </form> <br><br>
    상품 정보<br>
    상품명 : {{instruments.name}}<br>
    상품가격 : {{instruments.cost}}<br>
    상품카테고리 : {{instruments.category}}<br>
    상품개수 : {{instruments.count}}<br>
    상품설명 : {{instruments.description}}<br>
    작성자 : {{instruments.creatorId}}<br>
    <br>
    {% if isTrue %}
    <h3>수정할 내용</h3>
    <form id="form" action="{{link}}/{{instruments.instrumentId}}" method="post">
        <input type="hidden" name="name" value="{{instruments.name}}"  /><br>
        <input style="width: 200px" type="text" name="cost" placeholder="COST"  /><br>
        <input style="width: 200px" type="text" name="count" placeholder="COUNT" /><br>
        <br>
        <input type="radio" name="category" value="percussion"  />타악기
        <input type="radio" name="category" value="wind" />관악기
        <input type="radio" name="category" value="string" />현악기
        <input type="radio" name="category" value="keyboard" />건반악기
        <br><br>
        <textarea style="width: 200px" type="textarea" name="content" rows="10" cols="50" placeholder="설명 수정." ></textarea>
        <br>
        <button style="width: 200px" type="submit">수정하기</button>
    </form>

    <br><br>
    <h3>악기 삭제</h3>
    <form id="form" action="" method="get">
        <button style="width: 200px" type="button"
            onclick="location.href='http://localhost:{{port}}/instrument/delete/{{instruments.instrumentId}}'">악기 삭제</button>
    </form>
    {% else %}

    {% endif %}
</body>

</html>
