<!DOCTYPE html>
<html>

<head>
    <title>{{title}}-{{html}}</title>
</head>

<body>
    <p>
        login
        <form id="form" action="{{link}}" method="post">
            <h3>{{description}}</h3>
            <input style="width: 200px" type="text" name="id" placeholder="ID" required /><br>
            <input style="width: 200px" type="password" name="password" placeholder="PASSWORD" required /><br>
            <button style="width: 200px" type="submit" >확인</button>
            <br>
        </form>
    </p>
</body>

</html>
